@model QuanLyDiem.Models.DiemRenLuyen

@{
    ViewData["Title"] = "Create";
}

<h3>Thêm mới điểm rèn luyện</h3>
<hr>
    <div class=" w3-card w3-white container w3-round-large" style="width:50%">
        <form asp-action="Upload"  enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-md-8">
                    <label for="">Nhập danh sách điểm rèn luyện từ Excel:</label>
                    <input type="file" name="file" class="">
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Tải lên" class="w3-margin btn btn-outline-info">
                </div>
            </div>
        </form>
    </div>
<hr />

<div class="row">
    <div class=" w3-card w3-white container w3-round-large" style="width:50%">
        <form asp-action="Create">
            <h4 class="w3-center">Nhập thông tin điểm rèn luyện</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Mã sinh viên</label>
                    <select asp-for="MaSinhVien" class ="form-control" asp-items="ViewBag.MaSinhVien"></select>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Học Kỳ</label>
                    <select asp-for="MaHocKy" class ="form-control" asp-items="ViewBag.MaHocKy"></select>
                </div>
            </div>
            <div class="form-row" style="display: flex; justify-content: center;">
                <div class="form-group" >
                    <label class="control-label">ĐRL</label>
                    <input asp-for="DiemRL" class="form-control" />
                    <span asp-validation-for="DiemRL" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-outline-info" /> |
                <a asp-action="Index">Trở về</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}