@model QuanLyDiem.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h3>Xóa tài khoản</h3>

<div>
    <hr />
    <dl class="w3-card w3-white container w3-round-large" style="width:60%">
        <div class="row">
            <dt class = "col-sm-3">
                Username
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.username)
            </dd>
            <dt class = "col-sm-3">
                Password
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.password)
            </dd>
        </div>
        <div class="row">
            <dt class = "col-sm-3">
                Họ
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.lastName)
            </dd>
            <dt class = "col-sm-3">
                Tên
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.firstName)
            </dd>
        </div>
    </dl>
    <h4 class="w3-center">Bạn có chắc chắn muốn xóa tài khoản này?</h4>
    <form class="w3-center" asp-action="Delete">
        <input type="hidden" asp-for="UserID" />
        <input type="submit" value="Xóa" class="btn w3-medium btn-danger" /> |
        <a asp-action="Index">Hủy</a>
    </form>
</div>