@model QuanLyDiem.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h3>Sửa thông tin tài khoản</h3>

<hr />

<div class="row">
    <div class=" w3-card w3-white container w3-round-large" style="width:60%">
        <form asp-action="Edit">
            <h4 class="w3-center">Thông tin sinh viên</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <div class="form-row" style="display: flex; justify-content: center;">
                <div class="form-group col-md-6" >
                    <label class="control-label">Username</label>
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" >
                    <label class="control-label">Password</label>
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Họ</label>
                    <input asp-for="lastName" class="form-control" />
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Tên</label>
                    <input asp-for="firstName" class="form-control" />
                    <span asp-validation-for="firstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn w3-medium btn-outline-info" /> |
                <a asp-action="Index">Trở về</a>
            </div>
        </form>
    </div>
</div>  

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
