@model QuanLyDiem.Models.BangDiem

@{
    ViewData["Title"] = "Create";
}

<h3>Tạo mới điểm</h3>
<hr>
    <div class=" w3-card w3-white container w3-round-large" style="width:50%">
        <form asp-action="Upload"  enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-md-8">
                    <label for="">Nhập bảng điểm từ Excel:</label>
                    <input type="file" name="file" class="">
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Tải lên" class="w3-margin btn btn-outline-info">
                </div>
            </div>
        </form>
    </div>
<hr />
<div class="row">
    <div class=" w3-card w3-white container w3-round-large" style="width:50%">
        <form asp-action="Create">
            <h4 class="w3-center">Nhập thông tin bảng điểm</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row" style="display: flex; justify-content: center;">
                <div class="form-group col-md-6" >
                    <label class="control-label">Sinh viên</label>
                    <select asp-for="MaSinhVien" class ="form-control" asp-items="ViewBag.MaSinhVien"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label class="control-label">Học phần</label>
                    <select asp-for="MaHocPhan" class ="form-control" asp-items="ViewBag.MaHocPhan"></select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Lớp học phần</label>
                    <select asp-for="MaLopHocPhan" class ="form-control" asp-items="ViewBag.MaLopHocPhan"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label">Điểm C</label>
                    <input asp-for="DiemChuyenCan" class="form-control" />
                    <span asp-validation-for="DiemChuyenCan" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Điểm B</label>
                    <input asp-for="DiemKiemTra" class="form-control" />
                    <span asp-validation-for="DiemKiemTra" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Điểm A</label>
                    <input asp-for="DiemThi" class="form-control" />
                    <span asp-validation-for="DiemThi" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-outline-info" /> |
                <a asp-action="Index">Trở về</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
