@model QuanLyDiem.Models.YeuCauSuaDiem

@{
    ViewData["Title"] = "Create";
}

<h3>Tạo yêu cầu sửa điểm</h3>

<hr />

<div class="row">
    <div class=" w3-card w3-white container w3-round-large" style="width:50%">
        <form asp-action="Create">
            <h4 class="w3-center">Nhập thông tin yêu cầu</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row" style="display: flex; justify-content: center;">
                <div class="form-group col-md-6" >
                    <label class="control-label">Giảng viên</label>
                    <select asp-for="MaGiangVien" class ="form-control" asp-items="ViewBag.MaGiangVien"></select>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Sinh viên</label>
                    <select asp-for="MaSinhVien" class ="form-control" asp-items="ViewBag.MaSinhVien"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Học phần</label>
                    <select asp-for="MaHocPhan" class ="form-control" asp-items="ViewBag.MaHocPhan"></select>
                </div>
                 <div class="form-group col-md-3">
                    <label class="control-label">Điểm C mới</label>
                    <input asp-for="DiemChuyenCanMoi" class="form-control" />
                    <span asp-validation-for="DiemChuyenCanMoi" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Điểm B mới</label>
                    <input asp-for="DiemKiemTraMoi" class="form-control" />
                    <span asp-validation-for="DiemKiemTraMoi" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="control-label">Lý do</label>
                    <input asp-for="LyDo" class="form-control" />
                    <span asp-validation-for="LyDo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-outline-info" /> |
                <a asp-action="Index">Trở về</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
